<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FilesOnTheGo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <link rel="stylesheet" type="text/css" href="../../dropzone.css">
    <link rel="stylesheet" type="text/css" href="../../basic.css">
    <script src="../../dropzone.js"></script>
    <script src="../../app.js"></script>
</head>
<body>
    <div class="navigation-bar">
        <nav class="navbar navbar-dark bg-custom">
            <a class="navbar-brand" href="/">FilesOnTheGo</a>
        </nav>
    </div>

    <div class="form-submit">
        <!-- <form class="upload-form mobile-upload" action="../../upload" method="post" enctype="multipart/form-data">
            <input type="file" class="btn btn-primary mobile-upload" name="uploaded_file" value="Browse..." multiple>
            <input type="submit" class="btn btn-success mobile-upload" name="upload-btn" value="UPLOAD">
        </form> -->
        <form action="../../upload" id="upload" method="post" class="dropzone desktop-upload" enctype="multipart/form-data">
            <!-- <input type="file" class="dz-hidden-input" name="file" multiple/> -->
            <div class="dz-message needsclick">
                Drop files here or click to upload.<br>
            </div>
        </form>
    </div>

    <div class="uploaded-files">
        <div class="card">
            <div class="card-header">Uploads</div>
            <div class="grid-container" id="grid">
                {% if files %}
                        {% for file in files %}
                            <div class="grid-item file-name"><a href="/uploads/{{ url }}/{{ file.name }}" download>{{ file.name }}</a></div>
                            <div class="grid-item file-date"><span>{{ file.ctime }}</span></div>
                            <div class="grid-item file-size"><span>{{ file.size }}</span></div>
                        {% endfor %}
                {% else %}
                    <h6>Nothing here, upload some files!</h6>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
