body{
    background-color: #BCFCFF;
}

.bg-custom {
    background-color: #FF0C00;
}

.form-submit{
    padding-top: 5%;
    padding-left: 1%;
}

.uploaded-files {
    padding-left: 1%;
    margin-top: 20px;
}

#links{
    margin-left: 10px;
    margin-top: 10px;
    list-style-type: none;
}

.each-file {
    display: flex;
}

@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    .each-file > div {
        flex: 1;
    }

    .each-file > .timestamp {
        flex: 2;
        margin-left: 25%;
        align-items: center;
    }

    .each-file > .filesize {
        flex: 1;
    }
}

@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    .each-file > div {
        flex: 1;
    }

    .each-file > .timestamp {
        margin-left: 5%;
    }

    .each-file > .filesize {
        margin-left: 5%;
    }

    .btn-success{
        margin-top: 5%;
    }
}
